:root {
    --font-header: 'neulis-cursive', 'Tenon', system-ui, Arial, Helvetica, sans-serif;
    --font-sub-header: 'neulis-cursive', 'Tenon', system-ui, Arial, Helvetica, sans-serif;
    --font-body: 'Tenon', system-ui, Arial, Helvetica, sans-serif;
    --font-card: 'neulis-cursive', 'Tenon', system-ui, Arial, Helvetica, sans-serif;

    --background-inicio: url('./fondo3.png');
    --background-quiz: url('./fondo4.png');
    --background-pareja: url('./fondo5.png');
    --background-home: url('./fondo1.png');
    --background-catalogo: url('./fondo2.png');
    --background-carta: url('./fondo6.png');
}

* { box-sizing: border-box; }

header {
    line-height: normal;
    font-family: var(--font-header);
    text-align: center;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    background-image: var(--background-home);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: var(--font-body);
    color: var(--text);
}

body.inicio {
    background-image: var(--background-inicio);
}

body.quiz {
    background-image: var(--background-quiz);
}
body.pareja {
    background-image: var(--background-pareja);
}

body.home {
    background-image: var(--background-home);
}

body.razas-gatos {
    background-image: var(--background-catalogo);
    .card {
         width: 300px;
         border: 1px solid #ccc;
         border-radius: 8px;
         display: flex;
         flex-direction: column;
         box-shadow: 0 4px 8px rgba(0,0,0,0.1);
         overflow: hidden;
        }

.card-content {
  padding: 16px;
  flex-grow: 1;
}

.card-footer {
  padding: 12px 16px;
  background-color: #f7f7f7;
  border-top: 1px solid #eee;
}

}

h1 {
    font-family: var(--font-header);
    text-align: center;
}

h2 {
    font-family: var(--font-sub-header);
    text-align: center;
}

.hero {
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
}